.div{
    width: 350px;
    height: 220px;
padding-top: 15px;
padding-left: 10px;
padding-bottom: 20px;
padding-right: 10px;
margin-bottom: 30px;
border: 2px red dashed;
background-color: green;
}

внутрішній відступ: зверху 15px, зліва 10px, внизу 20px, праворуч 10px;
зовнішній нижній відступ 30px;
"пунктирну" границу червоного кольору товщиною 2px;
зелений "фон" елемента.


Створити репозиторій HW-11 та закинути у нього зроблений код. Зробити деплой github-pages.